<div>
	<h1>Put the question and options here:</h1>
	<a href="#!/dashboard">Cancel</a>
	<form ng-submit="QC.createQuestion(QC.newQuestion,QC.Newoption1,QC.Newoption2,QC.Newoption3,QC.Newoption4)">
		<div>
			<label>Question: <input type="text" ng-model="QC.newQuestion.content"></label>
		</div>
		<div>
			<label>Option1: <input type="text" ng-model="QC.Newoption1.content"></label>
		</div>
		<div>
			<label>Option2: <input type="text" ng-model="QC.Newoption2.content"></label>
		</div>
		<div>
			<label>Option3: <input type="text" ng-model="QC.Newoption3.content"></label>
		</div>
		<div>
			<label>Option4: <input type="text" ng-model="QC.Newoption4.content"></label>
		</div>

		<input type="submit" name="add_question_button" value="create poll">
		<button ng-click="QC.cancel()">Cancel</button>
	</form>
	<div ng-repeat="error in QC.new_question_errors">
		<p>{{error}}</p>
	</div>
</div>